@media (max-width: 1320px) and (min-width: 300px) {
  .flex-btn {
    display: none;
  }

  #nav {
    display: none;
  }

  #ca-navbar {
    display: block;
    padding: 20px;
    border-radius: 3px;
    text-align: left;
  }

  #menu-mobile {
    visibility: visible;
    position: absolute;
    cursor: pointer;
  }

  #nav > li {
    padding: 0;
  }


  .navbar-nav {
    font-size: 18px;
    display: block;
    text-align: left;
  }

  .navbar-nav a {
    display: block;
    text-decoration: none;
  }

  .toggle-button {
    height: 40px;
    width: 40px;
    text-align: center;
    display: block;
    cursor: pointer;
    color: rgba(10, 10, 10, 0.8);
    border: 1px solid rgba(10, 10, 10, 0.8);
    border-radius: 3px;
    top: 20px;
    right: 20px;
    position: absolute;
    background: url(../assets/icons/menu.png);
    background-size: contain;
    background-position: center;
  }

  .welcome-thumb {
    width: 45%;
    position: absolute;
    bottom: -160px;
    right: 85px;
    z-index: 9;
  }

  #menu-mobile:checked + nav .toggle-button {
    color: rgba(10, 10, 10, 0.8);
    border: 1px solid rgba(10, 10, 10, 0.8);

  }

  #menu-mobile:checked + nav .navbar-nav {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    height: 180px;
    margin: auto;
  }

  .brand {
    font-size: 50px;
  }

  .welcome-thumb > img {
    height: 100%;
    width: 100%;
    margin: 0 0 200px;
  }

  .section-heading ~ .flex {
    display: block;
  }

  .container-description {
    display: block;
  }

  .app-download-area {
    display: block;
  }

  .app-download-btn > a {
    width: 70%;
    margin-right: 0;
  }

  .app-download-btn:first-child {
    margin-right: 0;
  }

  .app-download-btn a:hover {
    width: 70%;
  }

  .container-feature {
    display: block;
  }

  .single-feature {
    width: auto;
  }

  .container-c {
    display: block;
  }

  .single-cool-fact {
    width: auto;
    text-align: center;
  }

  .single-shot {
    display: block;
  }

  .app_screenshots_slides {
    display: block;
    text-align: center;
  }

  .container-feedback {
    display: block;
  }

  .client-feedback-text {
    width: auto;
  }

  .container-price {
    display: block;
    text-align: center;
  }

  .single-price-plan {
    display: block;
    width: auto;
    margin: 0 auto;
  }

  .single-team-member {
    width: auto;
  }

  .special_description_img img {
    width: 100%;
  }
}